html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

#mfPreviewBar {
  display: none !important; }

a, p, h1, h2, h3, h4, h5, li, td {
  font-family: "Cochin";
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

body {
  margin: 0;
  font-family: "Cochin"; }

.fs {
  min-height: 100vh;
  width: 100%; }

.caps {
  text-transform: uppercase; }

.center {
  text-align: center !important; }

.nav {
  position: fixed;
  z-index: 1000;
  top: -10px;
  left: 16px;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  padding: 10px;
  min-width: 160px;
  text-transform: uppercase; }
  .nav .logo_wrap {
    background-color: #887f82;
    height: 60px;
    width: 170px;
    padding: 11px 11px 11px 15px;
    display: block; }
    .nav .logo_wrap:hover {
      cursor: pointer; }
    .nav .logo_wrap #btn_logo {
      display: block;
      float: left;
      height: 39px;
      width: 75px;
      background-image: url("./img/logo@2x.png");
      background-repeat: no-repeat;
      background-size: contain;
      text-indent: -999em; }
    .nav .logo_wrap #btn_menu {
      float: left;
      width: 36px;
      margin-left: 27px;
      margin-top: 9px; }
      .nav .logo_wrap #btn_menu .orange {
        background-color: white; }
      .nav .logo_wrap #btn_menu .red {
        background-color: white; }
      .nav .logo_wrap #btn_menu span {
        -webkit-transition: all 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -moz-transition: all 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: all 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        margin-bottom: 10px;
        display: block;
        width: 36px;
        height: 5px; }
    .nav .logo_wrap #btn_menu.active .orange {
      -webkit-transform: rotateZ(45deg) translate3d(0, -10px, 0);
      -moz-transform: rotateZ(45deg) translate3d(0, -10px, 0);
      -ms-transform: rotateZ(45deg) translate3d(0, -10px, 0);
      -o-transform: rotateZ(45deg) translate3d(0, -10px, 0);
      transform: rotateZ(45deg) translate3d(0, -10px, 0); }
    .nav .logo_wrap #btn_menu.active .red {
      -webkit-transform: rotateZ(-45deg) translate3d(0, 10px, 0);
      -moz-transform: rotateZ(-45deg) translate3d(0, 10px, 0);
      -ms-transform: rotateZ(-45deg) translate3d(0, 10px, 0);
      -o-transform: rotateZ(-45deg) translate3d(0, 10px, 0);
      transform: rotateZ(-45deg) translate3d(0, 10px, 0); }
  .nav ul#menu {
    padding: 8px 16px 8px 16px;
    margin-top: 1px;
    background-color: #656264;
    display: block;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -webkit-transform: perspective(200px) rotateX(0deg) scale(0.6);
    -moz-transform: perspective(200px) rotateX(0deg) scale(0.6);
    -ms-transform: perspective(200px) rotateX(0deg) scale(0.6);
    -o-transform: perspective(200px) rotateX(0deg) scale(0.6);
    transform: perspective(200px) rotateX(0deg) scale(0.6);
    opacity: 0; }
    .nav ul#menu li {
      font-size: 13px;
      margin-bottom: 8px;
      width: 100%; }
      .nav ul#menu li:first-child {
        margin-top: 14px; }
      .nav ul#menu li a {
        -webkit-transition: color 0.1s ease-in;
        -moz-transition: color 0.1s ease-in;
        transition: color 0.1s ease-in;
        font-family: "Raleway", sans-serif;
        letter-spacing: 1px;
        font-weight: 500;
        font-style: normal;
        color: #909090; }
        .nav ul#menu li a:hover {
          color: white;
          font-weight: 500; }
      .nav ul#menu li .active {
        color: white; }
    .nav ul#menu .social {
      margin-top: 18px;
      height: 10px; }
      .nav ul#menu .social a {
        display: block;
        float: left;
        margin-right: 10px;
        color: white; }
        .nav ul#menu .social a:hover {
          opacity: .9; }
  .nav ul#menu.on {
    -webkit-transform: perspective(200px) rotateX(0deg) scale(1);
    -moz-transform: perspective(200px) rotateX(0deg) scale(1);
    -ms-transform: perspective(200px) rotateX(0deg) scale(1);
    -o-transform: perspective(200px) rotateX(0deg) scale(1);
    transform: perspective(200px) rotateX(0deg) scale(1);
    opacity: 1; }

header {
  position: fixed;
  top: 0;
  left: 20px;
  height: 56px;
  width: 167px;
  background-color: #535154; }

#main .home {
  overflow: hidden;
  position: relative;
  height: auto;
  z-index: -1;
  background-color: white;
  transition: opacity 0.2s ease-in-out; }
  #main .home.out {
    opacity: 0; }
  #main .home .hidden_height {
    visibility: hidden; }
    #main .home .hidden_height li img {
      width: 100%; }
  #main .home .desktop_wrap > img, #main .home .iphone_wrap > img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0; }
  #main .home .desktop_wrap {
    width: 1024px;
    height: 772px;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 40px 40px 200px 40px;
    -webkit-transform: translateX(6%);
    -moz-transform: translateX(6%);
    -ms-transform: translateX(6%);
    -o-transform: translateX(6%);
    transform: translateX(6%); }
    @media screen and (max-width: 1240px) {
      #main .home .desktop_wrap {
        width: 778px;
        height: 600px;
        padding: 45px 32px 150px 32px; } }
  #main .home .iphone_wrap {
    position: fixed;
    height: 400px;
    width: 243px;
    z-index: 3;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-217%);
    -moz-transform: translateX(-217%);
    -ms-transform: translateX(-217%);
    -o-transform: translateX(-217%);
    transform: translateX(-217%);
    padding: 60px 15px 0 15px; }
    @media screen and (max-width: 1240px) {
      #main .home .iphone_wrap {
        height: 344px;
        width: 203px;
        padding: 61px 13px 0 13px; } }
  #main .home .page_wrap {
    height: 100%;
    width: 100%;
    overflow: hidden; }
    #main .home .page_wrap .page {
      margin: 0;
      padding: 0; }
      #main .home .page_wrap .page p {
        margin: 0; }
      #main .home .page_wrap .page img {
        width: 100%;
        margin-bottom: -5px; }
  #main .home .slides_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  #main .home .slides {
    position: fixed;
    width: 100%; }
    #main .home .slides li {
      position: absolute;
      width: 100%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
      #main .home .slides li.fixed_text {
        position: fixed;
        z-index: 1;
        background-color: rgba(255, 0, 0, 0.3);
        opacity: 0;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0; }
  #main .home .faders_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  #main .home .fader {
    position: fixed;
    width: 100%;
    height: 100%; }
    #main .home .fader li {
      opacity: 0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      position: absolute;
      width: 100%;
      height: 100vh;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
      #main .home .fader li:first-child {
        opacity: 1;
        height: 100vh; }

#main .description {
  position: relative;
  z-index: 3;
  height: 240px;
  background-color: #afa09e; }
  #main .description h2 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-size: 27px;
    color: white;
    font-family: "Cochin";
    letter-spacing: 2px;
    max-width: 840px;
    margin: 0 auto; }

#main > .work {
  position: relative;
  z-index: 2;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
  #main > .work ul {
    width: 100%; }
    #main > .work ul li {
      position: relative;
      float: left;
      width: 33.33%; }
      #main > .work ul li img {
        width: 100%;
        margin-bottom: -6px; }
      #main > .work ul li div {
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(92, 80, 84, 0.81); }
        #main > .work ul li div h4 {
          position: absolute;
          margin: 0;
          top: 70%;
          -webkit-transition: top 0.3s ease-in-out;
          -moz-transition: top 0.3s ease-in-out;
          transition: top 0.3s ease-in-out;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: "Raleway", sans-serif;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 1px; }
      #main > .work ul li:hover div {
        opacity: 1;
        cursor: pointer; }
        #main > .work ul li:hover div h4 {
          top: 50%; }

#main .resume {
  position: static;
  background-color: white;
  z-index: 3;
  opacity: 0; }
  #main .resume .resume_wrap {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url("img/danielle_forweb.jpg");
    background-position: 70% bottom;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    #main .resume .resume_wrap::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 768px) {
      #main .resume .resume_wrap {
        background-size: 360px;
        background-position: 80% bottom; } }
    @media screen and (min-width: 1024px) {
      #main .resume .resume_wrap {
        background-size: 420px; } }
    @media screen and (min-width: 768px) {
      #main .resume .resume_wrap {
        height: 900px;
        position: relative; } }
    #main .resume .resume_wrap > .work {
      position: fixed;
      top: 40px;
      height: 100%; }
      #main .resume .resume_wrap > .work .skills {
        margin-bottom: 0px; }
      @media screen and (max-width: 767px) {
        #main .resume .resume_wrap > .work .work_wrap {
          padding: 100px 0 80px 0; } }
      @media screen and (min-width: 768px) {
        #main .resume .resume_wrap > .work .work_wrap {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
      @media screen and (min-width: 768px) {
        #main .resume .resume_wrap > .work {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 48.821174201%; }
          #main .resume .resume_wrap > .work:last-child {
            margin-right: 0; } }
      #main .resume .resume_wrap > .work li.title, #main .resume .resume_wrap > .work td.title {
        color: black;
        font-family: "Raleway", sans-serif;
        padding-top: 24px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px; }
      #main .resume .resume_wrap > .work .intro {
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-left: 20px; }
      #main .resume .resume_wrap > .work ul {
        margin: 0 auto 20px auto; }
        #main .resume .resume_wrap > .work ul li {
          color: gray;
          text-align: center; }
      #main .resume .resume_wrap > .work .company {
        text-transform: uppercase; }
      #main .resume .resume_wrap > .work table {
        marign: 0 auto;
        width: 100%; }
        @media screen and (min-width: 768px) {
          #main .resume .resume_wrap > .work table {
            margin-left: 61px; } }
        #main .resume .resume_wrap > .work table tr .date {
          padding-top: 10px; }
        #main .resume .resume_wrap > .work table tr td {
          line-height: 16px;
          color: gray; }
          #main .resume .resume_wrap > .work table tr td:first-child {
            text-align: right;
            padding-right: 20px; }
          #main .resume .resume_wrap > .work table tr td:last-child {
            text-align: left; }
          #main .resume .resume_wrap > .work table tr td + td.company {
            padding-top: 10px; }
    #main .resume .resume_wrap .pic {
      height: 100%;
      position: absolute;
      right: 0; }
      @media screen and (max-width: 767px) {
        #main .resume .resume_wrap .pic {
          display: none; } }
      @media screen and (min-width: 768px) {
        #main .resume .resume_wrap .pic {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 48.821174201%; }
          #main .resume .resume_wrap .pic:last-child {
            margin-right: 0; } }
      #main .resume .resume_wrap .pic img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0; }

footer {
  position: relative;
  z-index: 4;
  background-color: #535154;
  color: white; }
  footer > p {
    text-align: center;
    width: 100%;
    padding: 0 20px 0 20px;
    font-size: 14px; }
  @media screen and (min-width: 768px) {
    footer {
      height: 210px; } }
  footer h3 {
    color: #909090; }
  footer ul {
    padding: 40px 0 40px 0;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    footer ul::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 768px) {
      footer ul li {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        footer ul li:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 768px) {
      footer ul li > div {
        float: left; } }
    @media screen and (max-width: 767px) {
      footer ul li > div {
        text-align: center; } }
    footer ul li > div a {
      display: block; }
    footer ul li .icon {
      padding-right: 11px; }
      @media screen and (min-width: 768px) {
        footer ul li .icon {
          border-right: 2px solid #afa09e; } }
    @media screen and (min-width: 768px) {
      footer ul li .info {
        margin: 1px 0 0 11px; } }
    footer ul li .info h3 {
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 12px;
      color: white; }
    footer ul li .info p {
      padding: 0;
      margin: 8px 0 0 0;
      color: #909090;
      font-size: 20px;
      letter-spacing: 1px; }
    footer ul li.phone img {
      margin-top: 10px;
      width: 39px; }
    footer ul li.email img {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 43px; }
    footer ul li.blog img {
      margin: 3px 0 3px 0;
      width: 50px; }
